td{
    width: 20px;
    height: 19px;
    text-align: center;
    font-size: 11px;
    border: 1px solid #8F8F8F;
}
table{
    border-spacing: 0px;
    border: 1px solid grey;
    width: max-content;
}

.generateButton{
    margin-top: 20px;
    float: right;
    width: 25%;
}

.main{
    display: flex;
    flex-direction: column;
    
}